@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --fonte-subtitulos: 'Macondo', cursive;
    --fonte-texto: 'Montserrat', sans-serif;
    --font-title:'Bebas Neue', cursive;
}
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: white;
    font-family: var(--fonte-subtitulos);
    text-align: center;
    padding: 20px;
}
nav{
    background-color: black;
    padding: 5px;
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: lighter;
    font-size: 20px;
    font-family: var(--font-title);

}
nav a:hover{
    background-color: #28104E;  
    transition-duration: 0.5s;
    padding: 5px;
    border-radius: 10px;

    /*Animação na barra de navegação*/
}
main{
    background-color:white;
    margin: auto;
}
article{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}
article > h1 {
    text-align: center;
    padding-top: 30px;
    font-family: var(--fonte-texto);
    font-weight: bold;
}
article > h2{
    text-align: center;
    padding-top: 3em;
    padding-bottom: 5px;
    font-family: var(--fonte-subtitulos);
    /*Nome dos personagens*/
}

article > p {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: justify;

    font-family: var(--fonte-texto);
    margin: auto;

}

article > img{
    display: flex;
    margin: auto;
    box-shadow: 2px 2px 2px black;
}
.box-video > h2{
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
    font-family: var(--fonte-subtitulos);
}
iframe{
    padding: 20px;
    display: flex;
    margin: auto;
    background-color: lightslategray;

}
aside{
    background-color: #28104E;
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    margin-top: 30px;
    color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
 
}
aside > h1{
    text-align: center;
    padding: 2em;
    font-family: var(--fonte-texto);
}
aside > h2{
    text-align: center;
    padding: 2em;
    font-family: var(--fonte-texto);
}
aside > h3{
    text-align: center;
    padding: 5em;
    font-family: var(--fonte-texto);
}
aside  a{
    color: white;
    text-decoration: none;
    padding: 14px;
    font-family: var(--font-nav);
}
.box-links{ 
    font-family: var(--fonte-texto);
    padding-bottom: 50px;
    display: flex;
    margin-left: 13.5em;
    align-items: center;
    /*Box com itens para comprar o jogo*/
}

/*Sessão com animação em cima do link de compras*/
.link-ps{
    cursor: pointer;
    padding: 5px;
    background-image: linear-gradient(#306cee, #30c5ee);
    background-repeat: no-repeat;
    background-size: 0 10%;
    background-position-x: right;
    border-radius: 5px;
    transition: background-size 500ms;
}
.link-ps:hover{
    background-size: 100% 100%;
    background-position-x: left;
}
.link-steam{
    cursor: pointer;
    padding: 5px;
    background-image: linear-gradient(rgb(78, 78, 78) , grey);
    background-repeat: no-repeat;
    background-size: 0 10%;
    background-position-x: right;
    border-radius: 5px;
    transition: background-size 500ms;
}
.link-steam:hover{
    background-size: 100% 100%;
    background-position-x: left;
}
.link-xbox{
    cursor: pointer;
    padding: 5px;
    background-image: linear-gradient(rgb(11, 63, 11) , green);
    background-repeat: no-repeat;
    background-size: 0 10%;
    background-position-x: right;
    border-radius: 5px;
    transition: background-size 500ms;
}
.link-xbox:hover{
    background-size: 100% 100%;
    background-position-x: left;
}
.container-perfil{
    display: flex;
    align-items: center;
    font-family: var(--fonte-texto);
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    /*Minha foto com descrição*/
}
/*Sessão com animação das redes sociais*/
.link-github{
    cursor: pointer;
    padding: 5px;
    background-image: linear-gradient(rgb(78, 78, 78) , grey);
    background-repeat: no-repeat;
    background-size: 0 10%;
    background-position-x: right;
    border-radius: 5px;
    transition: background-size 500ms;
}
.link-github:hover{
    background-size: 100% 100%;
    background-position-x: left;
}
.link-instagram{
    cursor: pointer;
    padding: 6px;
    background-image: linear-gradient(#515bd4, #8134AF, #DD2a7d);
    background-repeat: no-repeat;
    background-size: 0 10%;
    background-position-x: right;
    border-radius: 5px;
    transition: background-size 500ms;
}
.link-instagram:hover{
    background-size: 100% 100%;
    background-position-x: left;
}
.link-youtube{
    cursor: pointer;
    padding: 5px;
    background-image: linear-gradient(rgb(255, 0, 0), rgba(255, 255, 255, 0.651));
    background-repeat: no-repeat;
    background-size: 0 10%;
    background-position-x: right;
    border-radius: 5px;
    transition: background-size 500ms;
}
.link-youtube:hover{
    background-size: 100% 100%;
    background-position-x: left;
}
footer{
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 13px;
    text-align: center;
    font-family: var(--fonte-subtitulos);
    font-size: 20px;
}
